$clr-main: #ff443b;
$clr-nav: #b6b6b6;
$clr-title: #4d4d4d;
$clr-bg: #f8f8f8;
$clr-line: #e9eaec;
$clr-border: #d7d7d7;
$clr-content: #495060;
$clr-footer-font: #5E5E5E;

$clr-red: #ff443b;
$clr-black: #222;
$clr-white: #fff;
$clr-gray: #F7F7F7;

// $clr-blue: #2d8cf0;
// $clr-green: #19be6b;
// $clr-yellow: #ff9900;
// $clr-red: #ed3f14;
// $clr-bg:#f8f8f9;
// $clr-line: #e9eaec;
// $clr-border: #dddee1;
// $clr-disabled: #bbbec4;
// $clr-sub: #80848f;
// $clr-content: #495060;
// $clr-title: #1c2438;
// $clr-black: #222;
// $clr-white: #fff;
// $clr-footer: #414146;
