$clr-main: #ff443b;
$clr-nav: #b6b6b6;
$clr-title: #4d4d4d;
$clr-bg: #fff;
$clr-line: #e9eaec;
$clr-border: #d7d7d7;
$clr-content:  #E1E4E8;
$clr-footer-font: #5E5E5E;
$clr-footer: #F2F2F2;


$clr-black: #000000;
$clr-white: #fff;
$clr-gray: #BCBCBC;
