$clr-main: #ff443b;
$clr-title: hsl(0, 0%, 30%);
$clr-bg: #f7f8fa;
$clr-border: #D1D5DB;
$clr-content:  #E1E4E8;
$clr-footer-font: #5E5E5E;
$clr-footer: #F2F2F2;


$clr-black: #000000;
$clr-white: #fff;
$clr-gray: #BCBCBC;
$clr-label: #666666;
