
$shadow-work: 0 0 4px 0 rgba(0,0,0,.15), 0 4px 4px 0 rgba(0,0,0,.04);
$shadow-work-hover: 0 0 4px 0 rgba(0,0,0,.2), 0 5px 5px 0 rgba(0,0,0,.2);
$shadow-skill: 0 .5px 3px 0 rgba(0.2,0,0,0.2);

// TheNav
$h-nav: 3.56rem;
$h-banner: 37.5rem;
$shadow-nav: 0 0 4px 0 rgba(0,0,0,.01), 0 4px 4px 0 rgba(0,0,0,.04);

// TheFooter
$h-footer: 17rem;
$h-footer-siteinfo: 11rem;
$h-footer-copyright: 1.5rem;

// ProjectPublish
$h-pubProject-container: 95rem;

//ProRegistrationBtn
$h-regBtn: 4rem;

// SignUp
$h-signup-container: 95rem;

//SignIn
$h-signin-container: 40rem;

//components
$h-input: 2rem;
$w-input: 18rem;
$font-size-input: 10px;

$h-button: 1.7rem;
$w-button: 8rem;
$font-size-button: 12px;

$font-size-label: 13px;

// 设置border
$border: 0.06rem solid $clr-border;

