// element ui 样式覆盖

$theme_clr: #FF3300;
/* 改变主题色变量 */

$--color-primary: #2d8cf0;
$--color-success: #19be6b;
$--color-warning: #ff9900;
$--color-danger: #FF3300;
$--color-info: #dddfe6;


/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

